/*
Perustyylit
*/

html {
  background: var(--color-brand);
  color: var(--color-text);
  height: 100%;
  font: 10px/1.75 var(--font-family-text);
}

body {
  background-color: var(--color-bg);
  font-size: 1.7rem;
  min-height: 100%;
}

/*
Figure
*/

figure > img {
  display: block;
}

figcaption {
  font-size: smaller;
}

/*
Linkit
*/

a {
  color: inherit;
  text-decoration: none;
  background-image: linear-gradient(to bottom, rgba(0,0,0,.6) 50%, rgba(0,0,0,0) 50%);
  background-repeat: repeat-x;
  background-size: 2px .1em;
  background-position: 0 1.2em;
}

/*
Otsikot
*/

h1, h2, h3 {
  font: 1em/1.25 var(--font-family-feature);
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}
