/*
Perustyylit
*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  background: var(--color-brand);
  color: var(--color-text);
  height: 100%;
  font: 10px/1.75 var(--font-family-text);
}

body {
  background-color: var(--color-bg);
  font-size: 1.7rem;
  min-height: 100%;
}

::selection {
  background: var(--color-brand);
  color: var(--color-bg)
}

/*
Figure
*/

figure > img {
  display: block;
}

figcaption {
  font-size: smaller;
}

/*
Linkit
*/

a {
  color: inherit;
  text-decoration: underline;
  text-decoration-skip: ink;
  -webkit-tap-highlight-color: color(var(--color-brand) a(30%));
}

/*
Otsikot
*/

h1, h2, h3, h4, h5, h6 {
  font: 1em/1.25 var(--font-family-feature);
  padding-top: 1em;

  & a {
    text-decoration: none;

    &::after {
      display: inline-block;
      content: "#";
      color: #eee;
      margin-left: 1rem;
      transition: transform .2s;
    }

    &:hover:after {
      transform: rotate(180deg);
    }

  }

}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

/*
Kuvakkeet
*/
[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

#markdown-toc {
  margin: 4rem 0;
  padding: .5rem 0 .5rem 2rem;
  list-style: none;
  border-left: .5rem solid var(--color-brand);

  & li {
    display: block;
    padding: .5rem 0;
  }
}
