/*
Perustyylit
*/

html {
  background: var(--color-brand);
  color: var(--color-text);
  height: 100%;
  font: 10px/1.75 var(--font-family-text);
}

body {
  background-color: var(--color-bg);
  font-size: 1.7rem;
  min-height: 100%;
}

/*
Figure
*/

figure > img {
  display: block;
}

figcaption {
  font-size: smaller;
}

/*
Linkit
*/

a {
  color: inherit;
  text-decoration: none;

  @apply --underline;

  -webkit-tap-highlight-color: color(var(--color-brand) a(30%));
}

/*
Otsikot
*/

h1, h2, h3 {
  font: 1em/1.25 var(--font-family-feature);
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

/*
Kuvakkeet
*/
[class^="icon-"], [class*=" icon-"] {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
