.container {
  width: 800px;
  height: 400px;
  background: white;
  overflow: hidden;
  position: relative;
  margin-left: 100px;
}
.container .diagonal {
  height: 1200px;
  width: 200px;
  overflow: hidden;
  transform: rotate(25deg);
  position: absolute;
  top: -200px;
}
.container .diagonal img {
  transform: rotate(-25deg);
  margin-top: -100px;
  margin-left: -200px;
}
.container .diagonal .overlay {
  transform: rotate(-25deg);
  height: 1200px;
  width: 800px;
  position: absolute;
  top: -50px;
  left: 0;
  background: black;
  opacity: 0;
  color: white;
  -webkit-transition: opacity .5s;
  vertical-align: middle;
  text-align: center;
}
.container .diagonal .overlay:hover {
  opacity: .8;
}
.container .diagonal#d0 {
  left: -180px;
}
.container .diagonal#d1 {
  left: 40px;
}
.container .diagonal#d2 {
  left: 260px;
}
.container .diagonal#d3 {
  left: 480px;
}
.container .diagonal#d4 {
  left: 700px;
}
