:root {
  --color-bg: #fff;
  --color-text: #3a3a3a;
  --color-brand: #e9168c;

  --font-family-feature: 'Signika', sans-serif;
  --font-family-text: 'Noticia Text', serif;

  --spacing: 1rem;

  --underline: {
    background-image: linear-gradient(to bottom, rgba(0,0,0,.6) 50%, rgba(0,0,0,0) 50%);
    background-repeat: repeat-x;
    background-size: 2px .1em;
    background-position: 0 1.2em;
  };

  --underline-far: {
    background-image: linear-gradient(to bottom,rgba(0,0,0,.6) 50%,rgba(0,0,0,0) 50%);
    background-repeat: repeat-x;
    background-size: 2px .1em;
    background-position: 0 1.25em;
  };
}
