.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1270px;
}

.Page {
  padding-top: 1em;
  padding-bottom: 1em;

  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

.Page h2 {
  clear: left;
}

.Page-wrapper {
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  max-width: 840px;
}

.Page p img {
  display: block;
  float: right;
  width: auto;
  height: auto;
  max-width: 40%;
  margin: 0 0 2rem 2rem;

  @media (--sm) {
    margin-left: 4rem;
  }

  &[src$='#left'] {
    float: left;
    margin: 0 2rem 2rem 0;
  }

  &[src$='#full'] {
    float: none;
    max-width: 100%;
    margin: 2rem 0;
  }
}
