.Topbar {
  padding-top: var(--spacing);
  padding-bottom: var(--spacing);
  border-bottom: .1em solid var(--color-text);

  font-family: var(--font-family-feature);
  font-weight: lighter;
  font-size: 1.2em;
}

.Topbar-nav {
  & ul {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    & > li {
      display: list-item;
      flex: 0 0 auto;

      border-left: 1px solid var(--color-text);

      transform: skewX(-10deg);

      & > a {
        padding: .8em 2.2em;
        display: block;

        background: none;

        & > span {
          display: block;
          transform: skewX(10deg);
          position: relative;
        }
      }
    }

    & > li:first-child {
      border-left: 0;
    }

    & > li:last-child {
      border-right: 1px solid var(--color-text);
    }

    & > li.brand {
      transform: none;
      margin-right: .3em;

      & span {
        transform: none;
        margin-left: .5em;
        margin-right: .5em;
      }
    }
  }

  & img {
    height: 2em;
    width: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.active {
  text-decoration: underline;
}
