.Topbar {
  padding-top: var(--spacing);
  padding-bottom: var(--spacing);
  border-bottom: .1em solid var(--color-text);
}

.Topbar-sitename {
  display: block;
  font-family: var(--font-family-feature);
  font-size: 2em;
  text-transform: lowercase;
  background: none;
}

.Topbar-nav {

}

.Topbar-navitem {
  display: block;
  background: none;
  padding: calc(0.5 * var(--spacing)) 0;
}

.Topbar-navitem.active {
  
}
