{% assign items = site.pages | sort: "url" %}
{% for item in items %}

  {% assign itempath = item.url | split: "/" %}
  {% assign itemsection = itempath[1] %}
  {% assign itemname = itempath | last %}

  {% assign currentpath = page.url | split: "/" %}
  {% assign currentsection = currentpath[1] %}
  {% assign currentname = currentpath | last %}

  {% if currentsection == itemsection and itemname != itemsection %}
    <li{% if page.url contains item.url %} class="active"{% endif %}><a href="{{ item.url | relative_url }}"><span>{{ item.title | escape }}</span></a></li>
  {% endif %}

{% endfor %}
