<footer id="yhteystiedot" class="Sitefooter" vocab="http://schema.org/" typeof="NGO">

  <div class="container">

    <div class="Sitefooter-wrapper">

      <div class="Sitefooter-col">
        <div class="Sitefooter-basic">
          <p class="logo"><img src="{{ "/assets/logo-white.svg" | relative_url}}" alt="Demoni-logo" property="logo" id="footer-logo"></p>
          <p class="name" property="name">{{ site.longtitle }}</p>
        </div>
        <div class="Sitefooter-social">
          <ul>{% for media in site.data.social %}
            <li><a href="{{ media[1] }}" property="sameAs"><svg class="icon-{{ media[0] }}"><use xlink:href="{{ "/assets/icons.svg#icon-" | append: media[0] | relative_url}}"></use></svg></a></li>
          {% endfor %}</ul>
        </div>
        <div class="Sitefooter-feedback">
          <p><a href="https://docs.google.com/forms/d/e/1FAIpQLScAjuwnoJRDr7H5SmKwzAhSWqX3_rlZq203w1ca5pl8Hirk8w/viewform" class="Button">Anna meille palautetta</a></p>
        </div>
      </div>

      <div class="Sitefooter-col">
        <div class="Sitefooter-contact">{% assign contact = site.data.contact %}
          {% if contact.addresses.postal %}
          <p class="postaladdress with-icon" property="address" title="Postiosoite">
            <svg class="icon-envelop"><use xlink:href="{{ "/assets/icons.svg#icon-envelop" | relative_url}}"></use></svg>
            {{ contact.addresses.postal | newline_to_br }}
          </p>
          {% endif %}
          {% if contact.addresses.office %}
          <p class="officeaddress with-icon" property="address" title="Käyntiosoite">
            <svg class="icon-office"><use xlink:href="{{ "/assets/icons.svg#icon-office" | relative_url}}"></use></svg>
            {{ contact.addresses.office | newline_to_br }}
          </p>
          {% endif %}
          {% if contact.phone %}<p class="phone" property="telephone">{{ contact.phone }}</p>{% endif %}
          <p class="email" property="email"><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></p>
          <p class="ytunnus">Y-tunnus: {{ contact.ytunnus }}</p>
          <p class="yhdistysnumero">Yhdistysnumero: {{ contact.yhdistysnumero }}</p>
        </div>
      </div>

    </div>

  </div>

</footer>
